<footer>

  <div class="site-footer">

    <nav role="navigation" i18n-aria-label aria-label="Site Footer">

      <div>

        <span [ngStyle.xs]="{'display': 'block'}">
          <a i18n-href href="http://www.csc-scc.gc.ca/about-us/006-1000-eng.shtml"
             i18n>Terms and conditions</a>
          |
        </span>

        <span [ngStyle.xs]="{'display': 'block'}">
          <a i18n-href href="http://www.csc-scc.gc.ca/transparency/index-eng.shtml"
             i18n>Transparency</a>
        </span>
      </div>


      <div fxLayout="row" fxLayout.xs="column" fxFlexAlign="space-evenly none">

        <section fxFlex>
          <h6><a i18n-href href="http://www.csc-scc.gc.ca/about-us/index-eng.shtml"
                 i18n>About us</a></h6>
          <ul>
            <li>
              <a i18n-href href="http://www.csc-scc.gc.ca/acts-and-regulations/index-eng.shtml"
                 i18n>Acts, Regulations and Policy</a>
            </li>
            <li>
              <a i18n-href href="http://www.csc-scc.gc.ca/about-us/006-0001-eng.shtml"
                 i18n>Our Role</a>
            </li>
            <li>
              <a i18n-href href="http://www.csc-scc.gc.ca/about-us/006-0002-eng.shtml"
                 i18n>Our Priorities</a>
            </li>
            <li>
              <a i18n-href href="http://www.csc-scc.gc.ca/about-us/006-0004-eng.shtml"
                 i18n>Minister</a>
            </li>
            <li>
              <a i18n-href href="http://www.csc-scc.gc.ca/about-us/006-0005-eng.shtml"
                 i18n>Commissioner</a>
            </li>
            <li>
              <a i18n-href href="http://www.csc-scc.gc.ca/about-us/006-0007-eng.shtml"
                 i18n>History of CSC</a>
            </li>
          </ul>
        </section>

        <section fxFlex>
          <h6><a i18n-href href="http://www.csc-scc.gc.ca/media-room/index-eng.shtml"
                 i18n>News</a></h6>
          <ul>
            <li>
              <a i18n-href href="http://www.csc-scc.gc.ca/media-room/009-0002-eng.shtml"
                 i18n>Frequently Asked Questions</a>
            </li>
            <li>
              <a i18n-href href="http://www.csc-scc.gc.ca/media-room/009-1000-eng.shtml"
                 i18n>Videos</a>
            </li>
            <li>
              <a i18n-href href="http://www.csc-scc.gc.ca/media-room/009-0004-eng.shtml"
                 i18n>News Releases</a>
            </li>
          </ul>
        </section>

        <section fxFlex>
          <h6><a i18n-href href="http://www.csc-scc.gc.ca/contact-us/index-eng.shtml"
                 i18n>Contact us</a></h6>
          <ul>
            <li>
              <a i18n-href href="http://www.csc-scc.gc.ca/contact-us/index-eng.shtml"
                 i18n>General Inquiries</a>
            </li>
            <li>
              <a i18n-href href="http://www.csc-scc.gc.ca/contact-us/008-0001-eng.shtml"
                 i18n>Feedback Form</a>
            </li>
            <li>
              <a i18n-href href="http://www.csc-scc.gc.ca/media-room/009-0003-eng.shtml"
                 i18n>Media Room</a>
            </li>
          </ul>
        </section>

        <section fxFlex>
          <h6 i18n>Stay Connected</h6>
          <ul>
            <li>
              <a i18n-href href="https://www.youtube.com/user/CSCsccEN"
                 i18n>YouTube</a>
            </li>
            <li>
              <a i18n-href href="https://twitter.com/csc_scc_en"
                 i18n>Twitter</a>
            </li>
            <li>
              <a i18n-href href="https://www.flickr.com/photos/csc_imagery/"
                 i18n>flickr</a>
            </li>
            <li>
              <a i18n-href href="https://www.facebook.com/CorrectionalServices/"
                 i18n>Facebook</a>
            </li>
          </ul>
        </section>
      </div>
    </nav>
  </div>

  <div class="gc-footer">
    <nav role="navigation" i18n-aria-label aria-label="Site Footer">
      <section>
        <ul fxLayout="row" fxLayout.xs="column" fxFlexAlign="start center">

          <li fxFlex>
            <a i18n-href href="https://www.canada.ca/en/services/health.html" rel="external"
               i18n>Health</a>
          </li>
          <li fxFlex>
            <a i18n-href href="https://travel.gc.ca/" rel="external"
               i18n>Travel</a>
          </li>
          <li fxFlex>
            <a i18n-href
               href="https://www.canada.ca/en/employment-social-development/corporate/portfolio/service-canada.html"
               rel="external"
               i18n>Service Canada</a>
          </li>
          <li fxFlex>
            <a i18n-href href="https://www.jobbank.gc.ca/home" rel="external"
               i18n>Jobs</a>
          </li>
          <li fxFlex>
            <a i18n-href href="http://actionplan.gc.ca/en" rel="external"
               i18n>Economy</a>
          </li>
        </ul>
      </section>
    </nav>
  </div>
</footer>
