<h1 i18n>
  Welcome to the Statement of Observation Report Portal
</h1>

<div fxLayout="row" fxLayoutAlign="start start">

  <div fxFlex fxFill>
    <h5 i18n>E-SOR Application Feedback</h5>

    <p i18n>Your feedback is valued and essential to improving the application prior to its deployment nationwide.
      Please contact <a href="mailto:ESORFEEDBACK.GEN-NHQ@CSC-SCC.GC.CA">ESORFeedback.GEN-NHQ@csc-scc.gc.ca</a> to
      provide feedback.</p>

    <br>

    <h5 i18n>E-SOR Application Support</h5>

    <p i18n>Please contact <a href="mailto:ESORSUPPORT.GEN-NHQ@CSC-SCC.GC.CA">ESORSupport.GEN-NHQ@csc-scc.gc.ca</a> if
      you required assistance with any technical issue and/or have questions related to the E-SOR application.</p>
  </div>
</div>
